/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}
